h1 {
	color:white;
	font-size: 50px; 
	width:1000px;
	border: 3px solid #73AD21;
	text-align: center;
	margin: auto;
}
 
h3 {
	color: #800080;
	font-size: 25px; 
	 
}
img {
	float: right;
	margin: auto;
}
 
 
body {
	text-align: center;
  margin: auto;
  background-color:brown;
  background-repeat: once;
  padding: 5px;
  height: 3px
    
}	
footer {
	padding:20px 00px;
	text-align: right 
	
}